/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

header {
  text-align: center;
  background: url('images/winnipeg.jpg') no-repeat center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 70%;
  border: 4px solid orange;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.3) rotate(30deg);
}
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: #222;
  color: orange;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #9fc5e8;
  border-radius: 6px;
  transition: all .5s;
}

.card:hover {
  border-color: orange;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
  padding-top: 60px;
  font-weight: bold;
  height:200px;
  background-color:#9fc5e8;
    

}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }


/*contactForm.html CSS styling*/
.ContactForm h2 {   
    text-align: center;
    margin: 40px auto;
    font-family: 'Crete Round', sans-serif;
    border-bottom: 2px solid #9fc5e8;
    width: 200px;
   
}
    .inputForm{
        padding: 10px;
        margin-bottom: 30px;
        height: 50px;
        width:350px;
        border-radius:10px;
        border: 2px solid #9fc5e8;
    }
    form label {
        
        font-size: 20px;
        margin-right: 30px;
        margin-bottom: 60px;
    }
    form input {
        
        padding: 15px;
        width:380px;
        margin-bottom: 20px;
        border:2px solid orange;
        border-radius: 6px;
        

    }
    .button {
         width:150px;
         padding: 5px;
         background-color: orange;
         color:white;
         
    }
    form textarea {
        border:2px solid orange; 
        border-radius: 6px;
    }
/* amani added this part*/
.card h2 {
 text-align: center;
 border: 2px solid #9fc5e8;
 border-radius:6px;
 font-family: 'Crete Round', sans-serif;
 padding: 15px;
 margin-top: 20px;
    
}
/*resume.html css styling*/
.experience {
        
        color: #16537e;
        margin-bottom: 40px;
        border-bottom: 2px solid #d7d7d7;
        padding-bottom: 15px;
    }
}